body{
    background-image: url("../Images/5.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

html{
    height: 100%;
}

.container{
    height: 100%;
    background-color: rgba(15,15,15, 75%);
}

.User{
    font-weight: bold;
    font-family: "Gill Sans MT";
    font-size: xx-large;
    border:solid 10px rgba(0,0,0,100%);
    border-radius: 15%;
    background-color: rgba(10,10,10,100%);
    padding:5px;
}


.login{
    background: gold;
    color:Black;
    font-weight: bold;
    font-family: "Gill Sans MT";
}