body{
    background-image: url("../Images/3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}
html{
    height: 100%;
}

.container{
    height: 100%;
    background-color: rgba(15,15,15, 75%);
}

.innerbox{
    height: 400px;
    margin:10%;
    min-width: 30%;
    border:rgba(40,40,40,0%) solid 35px;
    background-color: rgba(40,40,40,75%);
}