body{
    background-image: url("../Images/2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

html{
    height: 100%;
}

.container{
    height: 100%;
    background-color: rgba(15,15,15, 75%);
}

.login{
    background: gold;
    color:black;
    font-weight: bold;
    font-family: "Gill Sans MT";
}